@{
    ViewBag.Title = "Консультация с врачом";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative" ng-controller="HistoryController as viewModel" data-id="1">
    <div class="col-md-9 fullheight sub-container">
        <h1 class="page-header row chat-page-header">
            <div class="col-md-6 flex chat-interlocutor">
                <img class="img-circle doctor-panel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W" height="60" width="60" />
                <span class="title">
                    Ежов Игорь Николаевич
                </span>
            </div>
            <div class="col-md-4 flex chat-time">
                <div class="time">
                    11:45
                </div>
                <div class="title">Время<br />консультации</div>
            </div>
            <div class="col-md-2 chat-buttons">
                <a href="#" class="btn chat-phone"></a>
                <a href="#" class="btn chat-video"></a>
            </div>
        </h1>
        <div class="content row unscrollable" style="display: flex; flex-direction: column">
            <div class="chat-nocontent" ng-hide="viewModel.selectedConsultationId" style="display: none;">
                <img src="/img/no_chat.png" />
                <p>
                    Выберите консультацию <br /> для просмотра истории общения
                </p>
            </div>
            <div style="flex: 1; overflow-y: auto;" id="chatMessageList">

            </div>
            <div class="chat-enter-box tm-noactive-bg" id="messageBox">
                <button class="chat-send-btn btn" id="sendMessageBtn"></button>
                <div class="message-input-wrap input-group">
                    <input class="chat-message-input" id="message-input" />
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row small-bottom-padding">
            История болезни пациента
            <div style="margin-top: 15px;">
                <a class="btn btn-primary rounded" data-toggle="modal" data-target="#addRecommendationDialog" href="@Url.Action("AddRecommendationStartDialog", "Recommendations")">
                    Добавить рекомендацию
                </a>
            </div>
            <after style="background: red"></after>
        </h1>
        <div class="content row">
            @Html.Action("List2", "Recommendations", new { id = @ViewBag.TargetUserId })
        </div>
    </div>
</div>

<div class="modal fade" id="addRecommendationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section styles{
}

@section scripts{
    <script>
        var conversationId = '@ViewContext.RouteData.Values["id"]';
        var messageHub = $.connection.messageHub;

        function onaddRecommendationSuccess() {
            $("#addRecommendationDialog").modal("hide");
            window.location.href = '@Url.Action("Open", "Conversation")/'//ViewBag.ConversationId;
        }
        function sendMessage(messageText) {
            messageHub.server.sendMessage(conversationId, messageText).done(function () {
                console.info('Message sent to the server');
            }).fail(function (error) {
                console.error('Invocation of sendMessage failed: ' + error);
            });
        }

        function addMessage(message) {
            $('#chatMessageList').append('<div class="chat-message">'
                + '<img class="chat-image img-circle ' + message.Direction + '" src="/img/no_avatar.png" />'
                + '<div class="chat-message ' + message.Direction + '"><p>' + message.Message + '</p>'
                + '<div class="chat-details small">' + message.Created + '</div></div></div>');
            $(".chat-panel .panel-body").scrollTop($(".chat-panel .panel-body")[0].scrollHeight);
        }

        $(function () {
            $('#message-input').keyup(function (e) {
                if (e.which === 13) {
                    sendMessage($('#message-input').val());
                    $('#message-input').val('').focus();
                }
            });

            $("#sendMessageBtn").prop("disabled", false);
            $("#message-input").prop("disabled", false);

            $('#sendMessageBtn').click(function () {
                sendMessage($('#message-input').val());
                $('#message-input').val('').focus();
            });



            //$.getJSON("/Chat/Index",
            //    function (result) {
            //        for (var i = 0; i < result.length; i++) {
            //            addMessage(result[i]);
            //        }
            //    }
            //);

            messageHub.client.onMessage = function (message) {
                addMessage(message);
            };
        });
    </script>
}
