@using Telemedicine.Core.Models.Enums 
@model Telemedicine.Web.Areas.Doctor.Models.AddEventViewModel
@using (Ajax.BeginForm("AddTimeSpanEvent", "Home", new { @class = "form", @role = "form", @id = "addEventDialogForm" },
                                                                        new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onAddSuccess" }, FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Добавление события</h3>
    </div>
    <div class="modal-body">
        <div class="row sub-title">
            @Html.LabelFor(m => m.Title, new { @class = "control-label", @for = "title" })
        </div>
        <div class="row">
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "rounded form-control", @id = "title" } }) 
        </div>
        <div class="row row3">
            <div class="col-md-4">
                <div class="sub-title">
                    @Html.LabelFor(m => m.Begin, new { htmlAttributes = new { @class = "control-label", @for = "beginDate" } })
                </div>
                <div>
                    <div class="input-group">
                        @Html.EditorFor(m => m.Begin, new { htmlAttributes = new { @class = "rounded form-control", @placeholder = "Начало события", @id = "beginDateDatetimePicker" } }) 
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sub-title">
                    @Html.LabelFor(m => m.End, new { htmlAttributes = new { @class = "control-label", @for = "endDateDatetimePicker" } })
                </div>
                <div>
                    <div class="input-group">
                        @Html.EditorFor(m => m.End, new { htmlAttributes = new { @class = "rounded form-control", @placeholder = "Конец события", @id = "endDateDatetimePicker" } }) 
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox checkbox-circle alldaycheckbox">
                    <input id="alldaycheckbox" name="IsOnDate" type="checkbox" value="true"> 
                    @Html.LabelFor(m => m.IsOnDate, new {@for = "alldaycheckbox"})
                </div>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-4">
                <div class="row sub-title">
                    Повторять событие
                </div>
                <div class="row row-dropdown">
                    <div class="rounded dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                            Только один раз
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="monday" type="checkbox" value="true" name="Monday">
                                    <label for="monday">
                                        Понедельник
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="tuesday" type="checkbox" value="true" name="Tuesday">
                                    <label for="tuesday">
                                        Вторник
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="wednesday" type="checkbox" value="true" name="Wednesday">
                                    <label for="wednesday">
                                        Среда
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="thursday" type="checkbox" value="true" name="Thursday">
                                    <label for="thursday">
                                        Четверг
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="friday" type="checkbox" value="true" name="Friday">
                                    <label for="friday">
                                        Пятница
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="saturday" type="checkbox" value="true" name="Saturday">
                                    <label for="saturday">
                                        Суббота
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox checkbox-circle">
                                    <input id="sunday" type="checkbox" value="true" name="Sunday">
                                    <label for="sunday">
                                        Воскресенье
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="input-group days-list">
                    <a id="mondayGly" onclick="cancelSelectDay('monday');" href="#">понедельник <span class="glyphicon glyphicon-remove"></span></a>
                    <a id="tuesdayGly" onclick="cancelSelectDay('tuesday');" href="#">вторник<span class="glyphicon glyphicon-remove"></span></a>
                    <a id="wednesdayGly" onclick="cancelSelectDay('wednesday');" href="#">среда<span class="glyphicon glyphicon-remove"></span></a>
                    <a id="thursdayGly" onclick="cancelSelectDay('thursday');" href="#">четверг<span class="glyphicon glyphicon-remove"></span></a>
                    <a id="fridayGly" onclick="cancelSelectDay('friday');" href="#">пятница<span class="glyphicon glyphicon-remove"></span></a>
                    <a id="saturdayGly" onclick="cancelSelectDay('saturday');" href="#">суббота<span class="glyphicon glyphicon-remove"></span></a>
                    <a id="sundayGly" onclick="cancelSelectDay('sunday');" href="#">воскресенье<span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary rounded">добавить</button> 
        <a class="btn btn-round-rd rounded" data-dismiss="modal">
            закрыть
        </a>
    </div>
}


<script type="text/javascript">

    function cancelSelectDay(day) {
        var id = "#" + day;
        var idGly = "#" + day + "Gly "; 
        console.log(id);

        $(id).prop("checked", false);
        $(idGly).hide();
    };

    $(function () {
        //инициализация всплывающего окна для добавления записи
        $("#beginDateDatetimePicker").datetimepicker({
            locale: 'ru',
            icons: {
                up: "glyphicon glyphicon-triangle-top",
                down: "glyphicon glyphicon-triangle-bottom",
                next: "glyphicon glyphicon-triangle-right",
                previous: "glyphicon glyphicon-triangle-left"
            }
        });
        $("#endDateDatetimePicker").datetimepicker({
            locale: 'ru',
            icons: {
                up: "glyphicon glyphicon-triangle-top",
                down: "glyphicon glyphicon-triangle-bottom",
                next: "glyphicon glyphicon-triangle-right",
                previous: "glyphicon glyphicon-triangle-left"
            }
        });
        $(".glyphicon-calendar").click(function () {
            $(this).parent().parent().find(".form-control").focus();
        });
        $('.dropdown-menu input, .dropdown-menu label').click(function (e) {
            e.stopPropagation();
        });


        $("#mondayGly").hide();
        $("#tuesdayGly").hide();
        $("#wednesdayGly").hide();
        $("#thursdayGly").hide();
        $("#fridayGly").hide();
        $("#saturdayGly").hide();
        $("#sundayGly").hide();

        $("#monday").change(function () {
            if ($(this).is(":checked")) {
                $("#mondayGly").show(); 
            } else {
                $("#mondayGly").hide();
            }
        });

        $("#tuesday").change(function () {
            if ($(this).is(":checked")) {
                $("#tuesdayGly").show();
            } else {
                $("#tuesdayGly").hide();
            }
        });

        $("#wednesday").change(function () {
            if ($(this).is(":checked")) {
                $("#wednesdayGly").show();
            } else {
                $("#wednesdayGly").hide();
            }
        });

        $("#thursday").change(function () {
            if ($(this).is(":checked")) {
                $("#thursdayGly").show();
            } else {
                $("#thursdayGly").hide();
            }
        });

        $("#friday").change(function () {
            if ($(this).is(":checked")) {
                $("#fridayGly").show();
            } else {
                $("#fridayGly").hide();
            }
        });

        $("#saturday").change(function () {
            if ($(this).is(":checked")) {
                $("#saturdayGly").show();
            } else {
                $("#saturdayGly").hide();
            }
        });

        $("#sunday").change(function () {
            if ($(this).is(":checked")) {
                $("#sundayGly").show();
            } else {
                $("#sundayGly").hide();
            }
        });
    });

</script>