@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.AppointmentViewModel>
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<br />
<div class="row">
    <div class="col-md-4">
        @Html.Action("GetStatus", "Status")
    </div>
</div>
<br />
<div class="pull-right" style="font-size: 10px;">
    <a class="btn btn-default rounded" onclick="$('#calendar').fullCalendar('today')">
        Сегодня
    </a>
    <span class="input-group rounded" style="display: inline-block;">
        <a class="btn btn-default " onclick="$('#calendar').fullCalendar('prev')">
            <span class="tm icon arrow-left white"></span>

        </a>
        <a class="btn btn-default " onclick="$('#calendar').fullCalendar('next')">
            <span class="tm icon arrow-right white"></span>
        </a>
    </span>
    <div class="dropdown rounded" style="display: inline-block; width: 120px;">
        <a class="btn btn-primary dropdown-toggle" id="selectMonth" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span id="selectedMonth" class="uppercase" style="font-size:11px">Месяц</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="selectMonth">
            <li>
                <a onclick=" selectMonth(0); ">Январь</a>
            </li>
            <li>
                <a onclick=" selectMonth(1); ">Февраль</a>
            </li>
            <li>
                <a onclick=" selectMonth(2); ">Март</a>
            </li>
            <li>
                <a onclick=" selectMonth(3); ">Апрель</a>
            </li>
            <li>
                <a onclick=" selectMonth(4); ">Май</a>
            </li>
            <li>
                <a onclick=" selectMonth(5); ">Июнь</a>
            </li>
            <li>
                <a onclick=" selectMonth(6); ">Июль</a>
            </li>
            <li>
                <a onclick=" selectMonth(7); ">Август</a>
            </li>
            <li>
                <a onclick=" selectMonth(8); ">Сентябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(9); ">Отктябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(10); ">Ноябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(11); ">Декабрь</a>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary rounded" data-toggle="modal" data-target="#addEventDialog" title="Добавить событие" style="background:#3e67ae;box-shadow:none;background-image:none;">
        <span class="glyphicon">+</span> Добавить
    </a>
    @*<a class="btn btn-primary rounded" data-toggle="modal" data-target="#addEventDialog" href="@Url.Action("AddTimeSpanEvent")" title="Добавить событие">
        <span class="glyphicon">+</span> Добавить
    </a>*@
</div>

<div id="calendar"></div>

<div style="height:calc(100% - 500px)">
    <h3 class="page-header font-bold" style="border:none;">Записи на сегодня</h3>
    <div class="grid">
        <div class="page-header" style="border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;">
            <table style="width: 100%">
                <tr>
                    <td class="col-md-3 uppercase font-bold">Время</td>
                    <td class="col-md-9uppercase font-bold">Пациент</td>
                </tr>
            </table>
        </div>
        <div class="grid-content">
            <table style="width: 100%; ">
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td class="col-md-4">@appointment.Date.ToString("dd.MM.yyyy HH:mm")</td>
                        <td class="col-md-4">@appointment.PatientFio</td>
                    </tr>
                }
            </table>
        </div>
        <div class="grid-pager row">
            <div class="col-md-4">Всего записей: 1 000</div>
            <div class="col-md-4">
                <nav>
                    <ul class="pagination rounded">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-6">
                    <div class="pull-right">
                        Показывать:
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dropdown rounded dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            10 записей
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">20 записей</a></li>
                            <li><a href="#">50 записей</a></li>
                            <li><a href="#">100 записей</a></li>
                            <li><a href="#">Все записи</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="modal fade" id="addEventDialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>*@
<div class="modal fade" id="addEventDialog">
    <div class="modal-dialog addTimeSpanEventDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Добавление события</h3>
            </div>
            <div class="modal-body">
                <div class="row sub-title">
                    Выберите способ оплаты
                </div>
                <div class="row">
                    <input type="text" class="rounded form-control">
                </div>
                <div class="row row3">
                    <div class="col-md-4">
                        <div class="sub-title">
                            Начальная дата
                        </div>
                        <div>
                            <div class="input-group">
                                <input type="text" class="rounded form-control" placeholder="Начало события" id="beginDateDatetimePicker">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sub-title">
                            Конечная дата
                        </div>
                        <div>
                            <div class="input-group">
                                <input type="text" class="rounded form-control" placeholder="Конец события" id="endDateDatetimePicker">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox checkbox-circle alldaycheckbox">
                            <input id="alldaycheckbox" type="checkbox">
                            <label for="alldaycheckbox">
                                Весь день
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row4">
                    <div class="col-md-4">
                        <div class="row sub-title">
                            Повторять событие
                        </div>
                        <div class="row row-dropdown">
                            <div class="rounded dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                                    Только один раз
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox0" type="checkbox">
                                            <label for="checkbox0">
                                                Понедельник
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">
                                                Вторник
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox2" type="checkbox">
                                            <label for="checkbox2">
                                                Среда
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3">
                                                Четверг
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">
                                                Пятница
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox5" type="checkbox">
                                            <label for="checkbox5">
                                                Суббота
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-circle">
                                            <input id="checkbox6" type="checkbox">
                                            <label for="checkbox6">
                                                Воскресенье
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group days-list">
                            <a href="#">понедельник <span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#">вторник<span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary rounded">
                    добавить
                </a>
                <a class="btn rounded-rd" data-dismiss="modal">
                    закрыть
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".dropdown-menu li a").click(function () {
                $("#selectedMonth").text($(this).text());

            });

            var months = [
                "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
            ];

            $("#selectedMonth").text(months[(new Date()).getMonth()]);

            $("#selectedMonth").bind('DOMSubtreeModified', function () {
                if ($.inArray($("#selectedMonth").text(), months) == -1)
                    $("#selectedMonth").text(months[(new Date()).getMonth()]);
            });

            $.getJSON('@Url.Action("GetEvents", "Events")', "json", function (data) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'title',
                        center: '',
                        right: ''
                    },
                    columnFormat:'dd D',
                    lang: 'ru',
                    events: data,
                    defaultView: "agendaWeek",
                    minTime: '07:00',
                    maxTime: '21:00',
                    height: 300,
//                    eventColor: '#3e67ae'
                });
            });

            //инициализация всплывающего окна дял добавления записи
            $("#beginDateDatetimePicker").datetimepicker({
                locale: 'ru'
            });
            $("#endDateDatetimePicker").datetimepicker({
                locale: 'ru'
            });
            $(".glyphicon-calendar").click(function() {
                $(this).parent().parent().find(".form-control").focus();
            });
            $('.dropdown-menu input, .dropdown-menu label').click(function (e) {
                e.stopPropagation();
            });
        });


        function onAddSuccess() {
            $("#addEventDialog").modal('hide');
            window.location.href = '@Url.Action("Index", "Home")';
        }

        function selectMonth(monthNumber) {
            var date = new Date();
            $('#calendar').fullCalendar('gotoDate', new Date(date.getFullYear(), monthNumber, 1));
        }

    </script>
}