@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.AppointmentViewModel>
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<br />
<div class="row">
    <div class="col-md-4">
        @Html.Action("GetStatus", "Status")
    </div>
</div>
<br />
<div class="pull-right" style="font-size: 10px;">
    <a class="btn btn-default rounded" onclick="$('#calendar').fullCalendar('today')">
        Сегодня
    </a>
    <span class="input-group rounded" style="display: inline-block;">
        <a class="btn btn-default " onclick="$('#calendar').fullCalendar('prev')">
            <span class="tm icon arrow-left white"></span>

        </a>
        <a class="btn btn-default " onclick="$('#calendar').fullCalendar('next')">
            <span class="tm icon arrow-right white"></span>
        </a>
    </span>
    <div class="dropdown rounded" style="display: inline-block; width: 120px;">
        <a class="btn btn-primary dropdown-toggle" id="selectMonth" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span id="selectedMonth" class="uppercase" style="font-size:11px">Месяц</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="selectMonth">
            <li>
                <a onclick=" selectMonth(0); ">Январь</a>
            </li>
            <li>
                <a onclick=" selectMonth(1); ">Февраль</a>
            </li>
            <li>
                <a onclick=" selectMonth(2); ">Март</a>
            </li>
            <li>
                <a onclick=" selectMonth(3); ">Апрель</a>
            </li>
            <li>
                <a onclick=" selectMonth(4); ">Май</a>
            </li>
            <li>
                <a onclick=" selectMonth(5); ">Июнь</a>
            </li>
            <li>
                <a onclick=" selectMonth(6); ">Июль</a>
            </li>
            <li>
                <a onclick=" selectMonth(7); ">Август</a>
            </li>
            <li>
                <a onclick=" selectMonth(8); ">Сентябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(9); ">Отктябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(10); ">Ноябрь</a>
            </li>
            <li>
                <a onclick=" selectMonth(11); ">Декабрь</a>
            </li>
        </ul>
    </div>

    <a class="btn btn-primary rounded" data-toggle="modal" data-target="#addEventDialog" href="@Url.Action("AddTimeSpanEvent")" title="Добавить событие">
        <span class="glyphicon">+</span> Добавить
    </a>
    <a style="display: none;" class="btn btn-primary rounded" data-toggle="modal" id="createEventLink" data-target="#CreateEvent" href="@Url.Action("AddCalendarEvent")"> 
    </a>
</div>

<div id="calendar"></div>

<div style="height:calc(100% - 600px)">
    <h3 class="page-header font-bold" style="border:none;">Записи на сегодня</h3>
    <div class="grid">
        <div class="page-header" style="border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; padding-left: 0;">
            <table style="width: 100%">
                <tr>
                    <td class="col-md-3 uppercase font-bold">Время</td>
                    <td class="col-md-9 uppercase font-bold">Пациент</td>
                </tr>
            </table>
        </div>
        <div class="grid-content">
            <table style="width: 100%; ">
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td class="col-md-3">@appointment.Date.ToString("dd.MM.yyyy в HH:mm")</td>
                        <td class="col-md-9">@appointment.PatientFio</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateEvent" role="dialog" aria-labelledby="CreateEventLabel">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
           
        </div>
    </div>
</div>

<div class="modal fade" id="addEventDialog">
    <div class="modal-dialog addTimeSpanEventDialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var EventStartDate;
        var EventDurationVal;

        $(function () {
            $(".dropdown-menu li a").click(function () {
                $("#selectedMonth").text($(this).text());

            });

            var months = [
                "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
            ];

            $("#selectedMonth").text(months[(new Date()).getMonth()]);

            $("#selectedMonth").bind('DOMSubtreeModified', function () {
                if ($.inArray($("#selectedMonth").text(), months) == -1)
                    $("#selectedMonth").text(months[(new Date()).getMonth()]);
            });
           /* $('#EventStart').datetimepicker({
                locale:'ru'
            });*/
            $.getJSON('@Url.Action("GetEvents", "Events")', "json", function (data) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'title',
                        center: '',
                        right: ''
                    },
                    views: {
                        week: {
                            smallTimeFormat: 'H:mm',
                        }
                    },
                    timeFormat: 'H:mm',
                    columnFormat: '<i1>dd</i1><i2>DD</i2><i3>MMMM</i3>',
                    lang: 'ru',
                    events: data,
                    defaultView: "agendaWeek",
                    minTime: '07:00',
                    maxTime: '21:00',
                    height: 400,
                    allDaySlot: false,
                    axisWidth: '100px',
                    selectable: true,
                    selectHelper: true,
                    eventLimit: true,
                    select: function (start, end) {
                        $("#createEventLink").click();
                        //$('#CreateEvent').modal('toggle');
                        EventStartDate = start;
                        EventDurationVal = (end - start) / 60000;
                        //$('#EventStart').data('DateTimePicker').date(start);
                        //$('#EventDuration').val((end - start) / 60000);
                        //$('#EventDuration').change();
                        /*  var title = prompt('Наименование события:');
                        var eventData;
                        if (title) {
                            eventData = {
                                title: title,
                                start: start,
                                end: end
                            };
                            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        }
                        $('#calendar').fullCalendar('unselect');*/
                    },
                    //eventColor: '#3e67ae'
                });
            });

            //инициализация всплывающего окна дял добавления записи
            $("#beginDateDatetimePicker").datetimepicker({
                locale: 'ru'
            });
            $("#endDateDatetimePicker").datetimepicker({
                locale: 'ru'
            });
            $(".glyphicon-calendar").click(function () {
                $(this).parent().parent().find(".form-control").focus();
            });
            $('.dropdown-menu input, .dropdown-menu label').click(function (e) {
                e.stopPropagation();
            });
        });


        function onAddSuccess() {
            $("#addEventDialog").modal('hide');
            window.location.href = '@Url.Action("Index", "Home")';
        }

        function onAddCalendarEventSuccess() {
            $("#CreateEvent").modal('hide');
            window.location.href = '@Url.Action("Index", "Home")';
        }

        function selectMonth(monthNumber) {
            var date = new Date();
            $('#calendar').fullCalendar('gotoDate', new Date(date.getFullYear(), monthNumber, 1));
        }

    </script>
}