@{
    ViewBag.Title = "Моя запись";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="fullheight sub-container row container-fluid" ng-controller="DoctorAppointmentController as viewModel" data-id="@ViewBag.DoctorId">
    <h1 class="page-header row">@ViewBag.Title</h1>
    <div class="container-fluid unscrollable row" style="display: flex;flex-direction: column">
        <div class="grid" style="font-size: 12px;">
            <div style="padding:8px;">
                <div class="font-regular" style="display: inline-block; vertical-align: middle; color: #c0c0c0; text-transform: uppercase;font-size: 10px">
                    Отображать<br/>за период
                </div>
                <div style="display: inline-block; vertical-align: middle">
                    <div class="dropdown">
                        <a class="btn btn-white dropdown-toggle rounded " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="width: 180px; text-align: left">
                            Выбрать <span class="caret pull-right" style="position: absolute; right: 2em; top: 1.5em;"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Первый период</a>
                            </li>
                            <li>
                                <a href="#">Первый период</a>
                            </li>
                            <li>
                                <a href="#">Первый период</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="reverticon"></button>
                <div class="pull-right">
                    <button class="btn btn-white rounded">Новые</button>
                    <button class="btn btn-default rounded">Завершенные</button>
                </div>
            </div>

            <div class="page-header" style="border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding-left: 0;">
                <table style="width: 100%">
                    <tr class="font-bold">
                        <td class="col-md-2 font-bold">Дата</td>
                        <td class="col-md-3">Пациент</td>
                        <td class="col-md-3"></td>
                        <td class="col-md-2">Стоимость</td>
                        <td class="col-md-2"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-content">
                <table style="width: 100%; font-size: 14px;">
                    <tr>
                        <td class="col-md-2">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> @DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> @DateTime.Now.ToShortTimeString()
                            </div>
                        </td>
                        <td class="col-md-3">Евгения Олеговна</td>
                        <td class="col-md-3">
                            <div class="partdocument orange">Карта пациента</div>
                        </td>
                        <td class="col-md-2">1000 <span class="font-rouble">i</span></td>
                        <td class="col-md-2"><a class="remove orange">Отменить</a></td>
                    </tr>
                    <tr class="myevent" ng-repeat="item in viewModel.appointments">
                        <td class="col-md-2">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> {{item.Date | toDate | date:'dd.MM.yyyy'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> {{item.Date | toDate | date:'HH:mm'}}
                            </div>
                        </td>
                        <td class="col-md-3">{{item.PatientTitle}}</td>
                        <td class="col-md-3">
                            <div class="partdocument orange">Карта пациента</div>
                        </td>
                        <td class="col-md-2">1000 <span class="font-rouble">i</span></td>
                        <td class="col-md-2"><a class="remove orange" data-toggle="modal" data-target="#appointmentModalDialog" ng-href="@Url.Action("Index", "Home")/#consultation/{{item.ConsultationId}}">Отменить</a></td>
                    </tr>
                </table>
            </div>
            <div class="grid-pager row">
                <div class="col-md-4">Всего записей: {{viewModel.totalCount}}</div>
                <div class="col-md-4">
                    <nav>
                        <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                    ng-model="viewModel.currentPage"
                                    page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                    total-items="viewModel.totalCount" max-size="6"
                                    rotate="false" boundary-links="false" previous-text="&laquo;"
                                    next-text="&raquo;">
                        </pagination>
                    </nav>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-6">
                        <div class="pull-right">
                            Показывать:
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown rounded dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{viewModel.pageSize}} записей
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="viewModel.changePageSize(10)">10 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(50)">50 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(100)">100 записей</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>