@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.AppointmentViewModel>
@{
    ViewBag.Title = "Моя запись";
}

<br/>
@Html.Action("GetStatus", "Status")

    <div >
        <br/>
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" id="selectMonth" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span id="selectedMonth">Месяц</span> <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="selectMonth">
                <li>
                    <a onclick="selectMonth(0);">Январь</a>
                </li>
                <li>
                    <a onclick="selectMonth(1);">Февраль</a>
                </li>
                <li>
                    <a onclick="selectMonth(2);">Март</a>
                </li>
                <li>
                    <a onclick="selectMonth(3);">Апрель</a>
                </li>
                <li>
                    <a onclick="selectMonth(4);">Май</a>
                </li>
                <li>
                    <a onclick="selectMonth(5);">Июнь</a>
                </li>
                <li>
                    <a onclick="selectMonth(6);">Июль</a>
                </li>
                <li>
                    <a onclick="selectMonth(7);">Август</a>
                </li>
                <li>
                    <a onclick="selectMonth(8);">Сентябрь</a>
                </li>
                <li>
                    <a onclick="selectMonth(9);">Отктябрь</a>
                </li>
                <li>
                    <a onclick="selectMonth(10);">Ноябрь</a>
                </li>
                <li>
                    <a onclick="selectMonth(11);">Декабрь</a>
                </li>
            </ul>

            <a class="btn btn-primary" data-toggle="modal" data-target="#addEventDialog" href="@Url.Action("AddTimeSpanEvent")" title="Добавить событие">
                 <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

    </div>

    <div id="calendar"></div>

    <div>
        <h4>Записанные пациенты</h4>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Дата события</th>
                <th>ФИО Пациента</th>
                <th>Тип события</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Date</td>
                    <td>@appointment.PatientFio</td>
                    <td>Запись к врачу</td>
                </tr>
            }
            </tbody>
        </table>
        <br/>
    </div>



<div class="modal fade" id="addEventDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $(".dropdown-menu li a").click(function() {
                $("#selectedMonth").text($(this).text());

            });

            $.getJSON('@Url.Action("GetEvents", "Events")', "json", function(data) {
                $('#calendar').fullCalendar({
                    lang: 'ru',
                    events: data,
                    defaultView: "agendaWeek", 
                    minTime: '07:00',
                    maxTime: '21:00',
                    height: 300
                });
            });
        });
        
        
        function onAddSuccess() {
            $("#addEventDialog").modal('hide');
            window.location.href = '@Url.Action("Index", "Consultation")';
        }
        function selectMonth(monthNumber) {
            var date = new Date();
            $('#calendar').fullCalendar('gotoDate', new Date(date.getFullYear(),monthNumber,1));
        }

    </script>
}