@using Telemedicine.Web.Helpers
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Home")">
    @Html.ActionLink("Главная", "Index", "Home", null, new {@class = "homelink text-left"})
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("MyEvents", "Home")">
    <a class=" myeventslink text-left" href="@Url.Action("MyEvents", "Home")">Все записи<span class="neweventscounter"></span></a>
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Balance", "Home")">    
    <a class="paymentlink text-left ng-binding" href='@Url.Action( "Balance","Home")'> Баланс</a> 
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
