@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.AppointmentViewModel>
 
<div style="height: calc(100% - 600px); min-height: 200px" id="patientListOnCurrentDay">
    <div class="page-header currenttime" style="border: none;">
        Ближайшие консультации
        <div class="pull-right">
            @*<a class="btn btn-white rounded" onclick="document.getElementById('patientListOnCurrentDayLink').click();">Ближайшие</a>*@
            <a href="@Url.Action("MyEvents", "Home")" class="btn btn-default rounded">Все записи</a>
        </div>
    </div>
    <div class="grid" style="font-size: 12px;">
        <div class="page-header" style="border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding-left: 0;">
            <table style="width: 100%">
                <tr class=" font-bold">
                    <td class="col-md-2">Дата</td>
                    <td class="col-md-2 font-bold">
                        Время
                    </td>
                    <td class="col-md-3">Пациент</td>

                    <td class="col-md-2"></td>

                    <td class="col-md-2">Стоимость</td>
                    <td class="col-md-2"></td>
                </tr>
            </table>
        </div>
        <div class="grid-content">
            <table style="width: 100%; font-size: 14px;">
                @foreach (var appointment in Model.OrderBy(item => item.Date))
                {
                    <tr>
                        <td class="col-md-2">   <div style="color: #385c9d; margin-right: 5px;" class=" glyphicon glyphicon-calendar"></div>@appointment.Date.ToShortDateString() </td>
                        <td class="col-md-2">
                            <div class="timeicon">@appointment.Date.ToString("HH:mm")</div>
                        </td>
                        <td class="col-md-3">@appointment.PatientFio</td>

                        <td class="col-md-2">
                            <div class="partdocument orange">Карта пациента</div>
                        </td>


                        <td class="col-md-2">1000 <span class="font-rouble">i</span></td>
                        <td class="col-md-2">@Html.ActionLink("Отменить", "Decline", new {id = appointment.Id}, new {@class = "remove orange"})</td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>