@using Telemedicine.Web.Helpers
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Home")">
    @Html.ActionLink("Главная", "Index", "Home", null, new {@class = "homelink text-left"})
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("MyEvents", "Home")">
    @Html.ActionLink("Мои записи", "MyEvents", "Home", null, new {@class = "historylink text-left"})
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Consultation")">
    @Html.ActionLink("Врачи", "List", "Doctor", null, new {@class = "doctorslink text-left"})
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Payment")">
    @Html.ActionLink((string)ViewBag.Balance.ToString() + " ₽", "Index", "Payment", null, new {@class = "paymentlink text-left"})
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>

