<li class="text-center text-uppercase">@Html.ActionLink("Главная", "Index2", "Home", null, new { @class="homelink text-left" })</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Мои записи", "MyEvents", "Home", null, new {@class = "myeventslink text-left"})</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Врачи", "Index", "Consultation", null, new { @class = "doctorslink text-left" })</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Моя мед. карта", "Index", "History", null, new { @class = "historylink text-left" })</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Баланс", "Index", "Payment", null, new { @class = "paymentlink text-left" })</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>

