@using Telemedicine.Web.Helpers

<li class="text-center text-uppercase @Html.MenuItemClass("List", "Doctor")">
    @Html.ActionLink("Врачи", "List", "Doctor", null, new {@class = "doctorslink text-left"})
</li>

<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Home")">
    @Html.ActionLink("Моя история", "Index", "Home", null, new { @class = "homelink text-left" })
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("MyEvents", "Home")">
    @Html.ActionLink("Моя запись", "MyEvents", "Home", null, new {@class = "historylink text-left"})
</li>

<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase @Html.MenuItemClass("Index", "Payment")"> 
    <a class="paymentlink text-left ng-binding" href='@Url.Action("Index", "Payment")'><span >{{balanceviewModel.balance2}}</span> ₽</a> 
</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>

