@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="row fullheight" style="position: relative">
    <div class="col-md-6 fullheight sub-container">
        <h1 class="page-header row">История</h1>
        <div class="content row">
            <div class='chat-message'>
                <img class='chat-image target img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message target'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image me img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message me'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image target img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message target'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image me img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message me'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image target img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message target'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image me img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message me'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image target img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message target'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image me img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message me'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image target img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message target'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>
            <div class='chat-message'>
                <img class='chat-image me img-circle' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />
                <div class='chat-message me'>
                    <p>Sushi tonight?</p>
                    <div class='chat-details small'>
                        My Address 16:09:2016
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">Рекомендации</h1>
        <div class="content row">
            <div class="container-fluid recomendation-message-container">
                <div class="recomendation-message">
                    <div class="timestamp">@Html.Raw(DateTime.Now)</div>
                    <div class="author">
                        <div class="title">Бобров Бобер Зайкович</div>
                        <div class="speciality">Вокалист</div>
                    </div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </div>
                    <div class="details">
                        <a href="#">Подробнее</a> >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">Консультации</h1>
        <div class="content row">
            <div class="consultation-message-container">
                <div class="consultation-message">
                    <div class="timestamp">@Html.Raw(DateTime.Now)</div>
                    <div class="author">
                        <div class="title">Бобров Бобер Зайкович</div>
                        <div class="speciality">Вокалист</div>
                    </div>
                </div>
                <div class="consultation-message active">
                    <div class="timestamp">@Html.Raw(DateTime.Now)</div>
                    <div class="author">
                        <div class="title">Бобров Бобер Зайкович</div>
                        <div class="speciality">Вокалист</div>
                    </div>
                </div>
                <div class="consultation-message">
                    <div class="timestamp">@Html.Raw(DateTime.Now)</div>
                    <div class="author">
                        <div class="title">Бобров Бобер Зайкович</div>
                        <div class="speciality">Вокалист</div>
                    </div>
                </div>
                <div class="consultation-message">
                    <div class="timestamp">@Html.Raw(DateTime.Now)</div>
                    <div class="author">
                        <div class="title">Бобров Бобер Зайкович</div>
                        <div class="speciality">Вокалист</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
