@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс и оплата";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative">
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">@ViewBag.Title</h3>
        <div class="unscrollable row container-fluid balance-container">
            <p class="balance-info page-header">
                <span class="text">Баланс</span> <span style="color: #3e67ae" class="summa">12 567 Р</span><span></span>
            </p>
            <div class="balance-refill">
                <div class="dropdown rounded form-line" style="width: 100%">
                    <button class="btn btn-default dropdown-toggle left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                        Средство платежа
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Банковской картой</a></li>
                        <li><a href="#">Webmoney</a></li>
                        <li><a href="#">Мобильный телефон</a></li>
                    </ul>
                </div>
                <div class="row form-line">
                    <div class="col-md-7">
                        <input type="text" class="form-control rounded" placeholder="Сумма платежа">
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary rounded" style="width: 100%">Пополнить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">&nbsp;</h3>
        <div class="container-fluid row unscrollable" style="display: flex; flex-direction: column;">
            <div class="grid unscrollable payments-grid">
                <div class="grid-header">
                    <div class="grid-header-columns">
                        <div class="grid-col grid-col-33">Дата платежа</div>
                        <div class="grid-col grid-col-33">Тип платежа</div>
                        <div class="grid-col grid-col-33">Сумма платежа</div>
                    </div>
                </div>
                <div class="grid-content">
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                    <div class="grid-body">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">12 547 P</div>
                        </div>
                    </div>
                </div>
                <div class="grid-pager row">
                    <div class="col-md-6">Всего записей: 12</div>
                    <div class="col-md-6">
                        <nav>
                            <ul class="pagination rounded">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
