@model Telemedicine.Web.Areas.Administrator.Models.DoctorChangeViewModel
@{
    ViewBag.Title = "Врач: изменение информации";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Врач: изменение информации</h2>
<hr/>

@using (Html.BeginForm("Edit", "Doctor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    
    <div class="form-horizontal">
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type="email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SpecializationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SpecializationId, (IEnumerable<SelectListItem>)ViewBag.Specializations, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
}
