@{
    ViewBag.Title = "Консультация пациента";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative" ng-controller="HistoryController as viewModel" data-id="@ViewBag.TargetId" data-doctor-id="@ViewBag.DoctorId" >
    <div class="col-md-9 fullheight sub-container">
        <h1 class="page-header row chat-page-header">
            <div class="col-md-6 flex chat-interlocutor">
                <img class="img-circle doctor-panel-img" src="@ViewBag.UserAvatarUrl" height="60" width="60"/>
                <span class="title">
                    @ViewBag.UserDisplayName
                </span>
            </div>
            <div class="col-md-3 flex chat-time">
                <div class="time">
                    <span id="currenttime"></span>
                </div>
            </div>
            <div class="col-md-3 chat-buttons text-center">
                <a href="#" class="btn chat-phone" data-toggle="modal" data-target="#devDialog"></a>
                <a href="#" class="btn chat-video" data-toggle="modal" data-target="#devDialog"></a>
            </div>
        </h1>
        <div class="content row unscrollable" style="display: flex; flex-direction: column">
            <div class="chat-nocontent" ng-hide="viewModel.selectedConsultationId" style="display: none;">
                <img src="/img/no_chat.png"/>
                <p>
                    Выберите консультацию <br/> для просмотра истории общения
                </p>
            </div>
            <div style="flex: 1; overflow-y: auto;" id="chatMessageList">

            </div>
            <div class="chat-enter-box tm-noactive-bg" id="messageBox">
                <button class="chat-send-btn btn" id="sendMessageBtn"></button>
                <div class="message-input-wrap input-group">
                    <div style="flex: 1;">
                        <div style="display: flex">
                            <button class="btn btn-primary rounded" style="height: 32px" data-toggle="modal" data-target="#CloseChat">Завершить</button>
                            <input class="chat-message-input" id="message-input" />
                        </div>
@*                        <ul class="attachments-list" style="display: flex">*@
@*                            <li class="attachments-list-item">*@
@*                                <div>*@
@*                                    <div class="title">Файл 1</div>*@
@*                                    <div class="info">15 Кб</div>*@
@*                                </div>*@
@*                                <div class="btn attachment-remove" data-toggle="modal" data-target="#devDialog"></div>*@
@*                            </li>*@
@*                        </ul>*@
                    </div>
                     
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">История болезни</h1>
        <div class="content row">
            @Html.Action("List2", "Recommendations", new {id = @ViewBag.TargetUserId})
        </div>
    </div>
</div>
<div class="modal fade" id="Attachments" role="dialog" aria-labelledby="AttachmentsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AttachmentsLabel">Прикрепление файла <button onclick="$('#searchCheckbox').click(); $(this).text($('#searchCheckbox')[0].checked ? 'Отмена' : 'Поиск');" style="border: none; background: none; color: #b1b1b1; margin-left: 15px;">Поиск</button></h4>
            </div>
            <div class="modal-body">
                <input type="checkbox" id="searchCheckbox" style="display: none" onchange="$('#filesearch').toggle(this.checked); $('#fileinput').toggle(!this.checked);"/>
                <div class="content-fluid row" style="margin-bottom: 15px;display:none" id="filesearch">
                    <div class="input-group rounded">
                        <input class="form-control" placeholder="Поиск по файлам"/>
                        <div class="input-group-addon" style="background: #b1b1b1; color: white">
                            <div class="fa fa-search"></div>
                        </div>
                    </div>
                </div>
                <div class="content-fluid row" style="margin-bottom: 15px;" id="fileinput">
                    <button class="btn btn-default rounded fullwidth" onclick="$(this).next().click()">Загрузить новый файл</button>
                    <input type="file" multiple="" style="display: none;"/>
                </div>
                <ul class="list-group attachments-file-list" style="margin-left: -45px; margin-right: -45px;">
                    <li class="list-group-item">
                        <div class="icon doc"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="icon doc"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="icon image"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary rounded" data-dismiss="modal" data-toggle="modal" data-target="#devDialog">Добавить</button>
                <button type="button" class="btn btn-default rounded" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CloseChat" role="dialog" aria-labelledby="CloseChatLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CloseChatLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="uppercase text-center small">
                    Вы, действительно, хотите завершить консультацию?
                </div>
                <br/>
                <div class="doctor text-center">
                    <div class="font-bold" style="font-size: 1.1em">@ViewBag.UserDisplayName</div>
                    <div class="font-bold" style="color: #e79924">@ViewBag.Specialization</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default rounded col-md-3 pull-right" data-dismiss="modal" style="margin-left: 15px">Нет</button>
                <button type="button" class="btn btn-primary rounded col-md-3 pull-right" @*data-dismiss="modal" data-toggle="modal" data-target="#devDialog"*@ onclick="closeChat();">Ок</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var conversationId = '@ViewContext.RouteData.Values["id"]';
        var messageHub = $.connection.messageHub;
        var chatHub = $.connection.chatHub;

        function sendMessage(messageText) {
            messageHub.server.sendMessage(conversationId, messageText).done(function() {
                console.info('Message sent to the server');
            }).fail(function(error) {
                console.error('Invocation of sendMessage failed: ' + error);
            });
        }

        function addMessage(message) {
            var created = new Date(message.Created);
            $('#chatMessageList').append('<div class="chat-message">'
                + '<img class="chat-image img-circle ' + message.Direction + '" src="/img/no_avatar.png" />'
                + '<div class="chat-message ' + message.Direction + '"><p>' + message.Message + '</p>'
                + '<div class="chat-details small">' + moment(created).format('DD.MM.YYYY') + " в " + created.format("HH:mm") + '</div></div></div>');

            $(".chat-panel .panel-body").scrollTop($(".chat-panel .panel-body")[0].scrollHeight);
        }

        function closeChat() {
            chatHub.server.closeChat();
            window.location.href = '@Url.Action("Index", "Home")';
            return false;
        }


        $(function () {
            $("a").click(function (e) {
                  e.preventDefault();
            });
            //var mbLeft = $('.sidebar').width() + 40;
            //var mbRight = $('#recommendationColumn').width() + 40;
            //$('#messageBox').show();
            //$('#messageBox').css({left: mbLeft, right: mbRight});

            $('#message-input').keyup(function (e) {
                if (e.which === 13) {
                    sendMessage($('#message-input').val());
                    $('#message-input').val('').focus();
                }
            });

            $("#sendMessageBtn").prop("disabled", false);
            $("#message-input").prop("disabled", false);

            $('#sendMessageBtn').click(function () {
                sendMessage($('#message-input').val());
                $('#message-input').val('').focus();
            });

            //$.getJSON("/Chat/Index",
            //    function (result) {
            //        for (var i = 0; i < result.length; i++) {
            //            addMessage(result[i]);
            //        }
            //    }
            //);

            messageHub.client.onMessage = function (message) {
                addMessage(message);
            };




            var startTime = moment().add(15, "m");
            setInterval(function () {
                var past = startTime - moment();
                $('#currenttime').text(moment(past).format('mm:ss'));
            }, 1000);
        });
    </script>
}
